@import "../../assets/scss/App.scss";
.dashboard-wrapper{
    .action-icons{
        & > svg{
            color: #757575;
            height: 18px;
            margin: 0 10px 0 0;
            cursor: pointer;
        }
    }
    .nav-tabs{
        margin: 0 0 40px;
        .nav-item{
            .nav-link {
                border: 0;
                cursor: pointer;
                position: relative;
                color: #666;
                &.active{
                    background-color: transparent;
                    border: 0;
                    color: #000;
                    &::after, &:hover::after{
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $cta_color;
                    }
                }
                &:hover{
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: #dbdbdb;
                    }
                }
            }
        }
    }
    .empty-state{
        text-align: center;
        .placeholder-img{
            max-width: 200px;
            margin: 40px auto 20px;
        }
        p{

        }
    }
}