.order-wrapper{
    .hed{
        font-size: 1.3rem;
    }
    .sub-hed{
        color: #4c4c4c;
    }
    .sec-label{
        font-size: 18px;
    }
    .selectInput{
        width: 100%;
    }
    .selct-card {
        .MuiPaper-root{
            margin-top: 0 !important;
            cursor: pointer;
        }
        &.active {
            .MuiPaper-root{
                background-color: #ef5742;
                color: #fff;
            }
        }
    }
}