.acc-billing-wrapper{
    .gateway-icon {
        height: 29px;
        cursor: pointer;
        box-sizing: content-box;
        align-items: center;
        display: inline-block;
        width: 100%;
        background-image: url('https://d1v4btv2rwszby.cloudfront.net/public/images/account-and-billing-icons-updated.png');
        background-position: 0 0;
        background-size: 205px;
        background-repeat: no-repeat;
        &.payment-gateway-stripe-icon{
            background-position-y: -214px;
            background-size: 192px;
            max-width: 144px;
        }
        &.payment-gateway-paypalr-icon,
        &.payment-gateway-paypal-icon{
            background-position-y: -178px;
            max-width: 93px;
        }
        &.payment-gateway-coinpayments-icon{
            background-position-y: -286px;
        }
        &.payment-gateway-coingate-icon{
            background-position-y: -286px;
        }
        &.payment-gateway-alipay-icon{
            background-position-y: -19px;
        }
        &.payment-gateway-plimus-icon{
            background-position-y: -73px;
        }
        &.payment-gateway-plimusr-icon{
            background-position-y: -73px;
        }
        &.payment-gateway-payza-icon{
            background-position-y: -402px;
        }
        &.payment-gateway-playstore-icon{
            background-position-y: -600px;
        }
        &.payment-gateway-paygarden-icon{
            background-position-y: -125px;
        }
        &.payment-gateway-appstore-icon{
            background-position-y: -660px;
        }
        &.payment-gateway-gate2shop-icon{
            background-position-y: -549px;
        }
        &.payment-gateway-paymentwall-icon{
            background-position-y: -471px;
        }
    }
}